h2 {
color: blue;
font-size: 25px;
font-family: 'Shadows Into Light', cursive;
}

h3 {
    color: brown;
    font-size: 15px;
    font-family: Arial,
}

p {
    color: green;
    font-size: 15px;
    font-family: verdada;
}

.listas {
    color: blueviolet;
    font-size: 15px;
}

p,
ul,
ol,
.listas {
    font-size: 20px;
}

img {
    width: 200px;
}

.persa {
    width: 300px;
    border-width: 10px;
    border-color: brown;
    border-style: solid;
    border-radius: 50%;
}
.borde_redondo{
    border-radius: 150px;
}
div {
background-color: silver;
}